// paleta de colores
// #18230F
// #27391C
// #255F38
// #1F7D53
// variables en sass (se crean con el signo $ por delante)

$fondos: #18230F;
$contenedores: #27391C;
$text-ppal: #255F38;
$text-secondary: #1F7D53;
$border-ppal: 8px;
$margen-ppal: 16px;
$disposicion-ppal: flex;
$disposicion-sec: column;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*siempre que  comienzo un proyecto ejecuto el comando "sass --watch styles.scss styles.css" en una terminal, y minimizo la terminal, NO LA CIERRO*/

.header {
  margin-bottom: $margen-ppal;
  display: $disposicion-ppal;
  flex-direction: $disposicion-sec;
}

.form-contacto {
  padding: $margen-ppal $border-ppal;
  border-radius: $border-ppal;
  border: 1px solid $contenedores;
}


.container-cards {
  display: $disposicion-ppal;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .card {
    width: 200px;
    height: 200px;
    color: $fondos;
    background-color: $text-secondary;
  }
  .card-distinta {
    @extend .card; /*con extend: extiendo/heredo las propiedades de otro selector*/
    background-color: steelblue;
    padding: 20px;
  }
}


%contenedor-general {
  padding: 8px;
  margin: 12px;
  border-radius: 8px;
}


